<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>

</head>
<body>
    <div id="app">
        <span>阿婆主：{{name}}</span>
        <input type="text" v-model="name">
        <span>更多：{{more.bnii.hongse.laise}}</span>
        <input type="text" v-model="more.bnii.hongse.laise">
    </div>

    <script>
        const vm= new Vue({
            el:"#app",
            data:{
                name:"蛋老师",
                more:{
                    nini:"haoaho",
                    like:"一键三连",
                    bnii:{
                        hongse:{
                            laise:"ceshi"
                        }
                    }
                }
            }

        })

        console.log(vm);
    </script>


</body>
</html>